body {
  font: normal 400 105% Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}

li {
  text-decoration: none;
}

.no-flexbox .button {
  background: #f8f8f8;
  overflow: auto;
}

.no-flexbox .button .col {
  width: 27%;
  padding: 30px 3.15% 0;
  float: left;
}

@media screen and (max-width: 48rem) {
  .no-flexbox .button {
    width: 95%;
  }
}

.flexbox .button {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  background: #f8f8f8;
  overflow: auto;
  text-align: center;
}

footer .button {
  box-sizing: border-box;
  box-shadow: 0px -2px 3px #888;
}

.flexbox .button .col {
  flex: 1;
  padding: 1rem;
}

.resource-widget {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.berkeley {
  background: #0000ff;
}

.stanford {
  background: #b1040e;
}

.harvard {
  background: #a1020e;
}

.resource-widget .header {
  color: #fff;
  padding: 5%;
  text-align: center;
}

.resource-widget .body {
  padding: 2.5%;
  border: 1px #dfe3e8 solid;
  border-top: 0;
  font-weight: 300;
}

@media screen and (max-width: 15rem) {
  .flexbox .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
  }
}

@media screen and (max-width: 15rem) {
  .resource-widget {
    width: 100%;
  }
}

@media screen and (min-width: 20rem) {
  .resource-widget {
    width: 60%;
  }
}

#search {
  width: 80%;
  font-size: 13px;
  font-weight: 400;
  color: #766b6a;
  background-color: inherit;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn {
  background-color: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #544948;
  font-size: 12px;
}

.explorePop .btn {
  font-size: 10px;
  color: #766b69;
}

#explore {
  color: #0000ff;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0%;
}

header {
  position: fixed;
  width: 94.25%;
  top: 0.5%;
  left: 1.5%;
  border: 1px #dfe3e8 solid;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 3%;
  padding: 1%;
}

.explorePop {
  display: none;
  position: fixed;
  width: 100%;
  background: #f8f8f8;
  border-radius: 5px;
  bottom: 10%;
  box-shadow: 0px -2px 3px #888;
  box-sizing: border-box;
  color: #544948;
}

.explorePop ul {
  text-decoration: none;
}

.explorePop p {
  text-align: center;
}

.container {
  margin-bottom: 24%;
}

.menu {
  width: 20px;
  height: 2px;
  background-color: #000;
  margin: 3px 0;
}

#menu {
  float: left;
  width: 36px;
  margin-top: 3px;
  margin-right: 5%;

}
